/* follower.component.css */

.stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.follow-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.follow-name {
  font-size: 18px;
}

button {
  margin-left: 10px;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
