<mat-toolbar color="primary" style="justify-content: space-between; align-items: center">
  <img
    ngSrc="../../assets/logo.png"
    alt="" (click)="navigate('/')"
    height="64"
    width="64">
  <span>{{ title }}</span>
  <mat-list style="align-items: center; justify-content: center">
    <button mat-icon-button (click)="navigate('/search')" *ngIf="authService.isAuthenticated() | async">
      <mat-icon >search</mat-icon>
    </button>
    <button *ngIf="!(authService.isAuthenticated() | async)" mat-button (click)="navigate('/register')">Sign up</button>
    <button *ngIf="authService.isAuthenticated() | async" mat-button (click)="signOut()">Sign out</button>

  </mat-list>
</mat-toolbar>
