<mat-toolbar color="primary" style="justify-content: space-between; align-items: center">
  <img
    ngSrc="../../assets/logo.png"
    alt="" (click)="navigate('/')"
    height="64"
    width="64">
  <span>{{ title }}</span>
  <mat-list style="align-items: center; justify-content: center">
    <button mat-icon-button (click)="navigate('/search')">
      <mat-icon>search</mat-icon>
    </button>
    <button *ngIf="!authService.isAuthenticated()" mat-button (click)="navigate('/account/register')">Sign up</button>
    <button *ngIf="authService.isAuthenticated()" mat-button (click)="signOut()">Sign out</button>
  </mat-list>
<!--  <a *ngFor="let section of sections"-->
<!--     mat-button-->
<!--     (click)="navigate(section.url)"-->
<!--     *ngIf="!section.needLogin || authService.isAuthenticated()">-->
<!--    {{ section.title }}-->
<!--  </a>-->
</mat-toolbar>
