<mat-card>
  <mat-card-header style="display: flex; flex-direction: column; margin-bottom: 24px; border-bottom: 1px solid black; padding-bottom: 8px;">
    <mat-card-title>{{ content.title }}</mat-card-title>
    <div style="display: flex; flex-direction: row; align-items: center">
      <mat-card-subtitle style="color: black">By {{ content.author }}</mat-card-subtitle>
      <button *ngIf="showFollow()" mat-flat-button style="margin-left: 8px;" (click)="follow()">{{followed ? 'unfollow' : 'follow'}}</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <markdown [data]="markdown"></markdown>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!(isAdmin() | async)" mat-button (click)="likePost(content.uuid)"
            [color]="liked ? 'warn' : 'primary'">{{liked ? 'Liked' : 'Like'}}</button>
    <button *ngIf="!(isAdmin() | async)" mat-button (click)="savePost(content.uuid)"
            [color]="saved ? 'accent' : 'primary'">{{saved ? 'Saved' : 'Save'}}</button>
    <button *ngIf="isAuthor() || (isAdmin() | async)" mat-button (click)="deletePost(content.uuid)" style="color: black">Delete</button>
    <button *ngIf="isAuthor()" mat-button (click)="editPost(content.uuid)" style="color: black">Edit</button>
  </mat-card-actions>
</mat-card>
<ng-container *ngFor="let comment of comments">
  <mat-card>
    <mat-card-content>
      {{ comment.from }} said: {{ comment.content }}
    </mat-card-content>
  </mat-card>
</ng-container>
<mat-form-field appearance="fill" class="black-border-input" style="margin-top: 24px">
  <input matInput [(ngModel)]="myComment" placeholder="Type a comment...">
</mat-form-field>
<button mat-raised-button color="primary" (click)="postComment(content.uuid)">Post Comment</button>
