<div *ngIf="isAdmin() | async">
  <table mat-table [dataSource]="all" class="mat-elevation-z8">
    <!-- Column Definitions -->
    <ng-container matColumnDef="first">
      <th mat-header-cell *matHeaderCellDef> First </th>
      <td mat-cell *matCellDef="let element"> {{element.first}} </td>
    </ng-container>

    <ng-container matColumnDef="last">
      <th mat-header-cell *matHeaderCellDef> Last </th>
      <td mat-cell *matCellDef="let element"> {{element.last}} </td>
    </ng-container>

    <!-- Repeat for other columns -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef> School </th>
      <td mat-cell *matCellDef="let element"> {{element.school ? element.school : 'N/A'}} </td>
    </ng-container>


    <ng-container matColumnDef="campus">
      <th mat-header-cell *matHeaderCellDef> Campus </th>
      <td mat-cell *matCellDef="let element"> {{element.campus ? element.campus : 'N/A'}} </td>
    </ng-container>


    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let element"> {{element.company ? element.company : 'N/A'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="editUser(element)">Edit</button>
      </td>
    </ng-container>

    <!-- Table Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
