<app-ns-layout>
  <div class="home-container">
    <mat-card class="content-card">
      <div class="spacer"></div>
      <h1>Welcome to NUCS!</h1>
      <h2>Northeastern University Coding Society</h2>
      <h5 style="font-style: italic;">We help you open the door of programming</h5>
      <button mat-raised-button color="primary" class="wide-button" (click)="navigateToLogin()">
        Get Started
      </button>
      <p>to explore!</p>
      <div class="spacer"></div>
<!--      <app-copyright></app-copyright>-->
    </mat-card>
  </div>
</app-ns-layout>
